# Python Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class

# Vscode
.vscode/

# Old folders
files/src/cola2_core/
files/src/auv_msgs/
files/src/soundmetrics_aris_3000_driver/

